<template>
  <div>
    <div><h1>Hello, This is sample Socket.IO(Vue/NestJs)</h1></div>
    <div class="menu">
      <ul>
        <li>
          <a @click="route('apps')">Приложения</a><br/>
          <a @click="route('home')">Главная</a>
        </li>
      </ul>
    </div>
    <div>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>


export default {
  name: 'App',
  components: {
  },

  data() {
    return {
      socket: null,
      time: 0
    }
  },

  methods: {
    route(to) {
      console.log('called route')
      this.$socket().emit(`navigation`, {
        to
      });
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
